@model GCS.ERP.Identidade.Aplicacao.ViewModels.ViewModelUsuarioLogin;
@{
    var returnUrl = ViewData["ReturnUrl"] as string;
}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Entrar">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                
                <vc:Summary></vc:Summary>
                
                <form asp-action="entrar" asp-route-returnUrl="@returnUrl" method="post">
                    <div class="form-outline mb-4">
                        <input asp-for="Email" class="form-control form-control-lg" />
                        <label asp-for="Email" class="form-label"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-outline mb-4">
                        <input asp-for="Senha" class="form-control form-control-lg" />
                        <label class="form-label" asp-for="Senha"></label>
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>

                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <a asp-action="Registrar">Registrar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}