@{ 
    var returnUrl = ViewData["ReturnUrl"] as string;
    var erro = TempData["Erro"] as string;
    var temErro = !string.IsNullOrWhiteSpace(erro);
}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Entrar">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                @if(temErro)
            {
                <h2 class="alert-danger" style="padding: 20px;">@erro</h2>
            }
                <form asp-action="validar" asp-route-returnUrl="@returnUrl" method="post">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="email" name="email" class="form-control form-control-lg" />
                        <label class="form-label" for="email">Email</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="senha" name="senha" class="form-control form-control-lg" />
                        <label class="form-label" for="senha">Senha</label>
                    </div>

                    <div class="d-flex justify-content-around align-items-center mb-4">
                       
                        <a href="#!">Esqueceu a senha?</a>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>

                    
                </form>
            </div>
        </div>
    </div>
</section>
